/*html,body,div,progress,article,header,h1,h2,h3,h4,h5,h6,img,p,ul,li,a,span,time{margin:0;padding:0;}*/
@import 'veryless';

.reset;

.layout(@w:990px){
    width:@w;
    margin:0 auto;
}
.layout-left(@w:210px){
    width:@w;
    float:left;
}
.layout-right(@w:770px){
    width:@w;
    float:right;
}

/*.colorY(){color:#e4393c;}
.bgcolorY(){background-color:#e4393c;}
.colorG(){color:#F7F7F7;}
.colorG5(){color:#000;}
.bgcolorG5(){background-color:#000;}
@color-bg:#fff;
*/

.colorY(){color:#ffd200;}
.bgcolorY(){background-color:#ffd200;}
.colorG(){color:#787465;}
.bgcolorG(){background-color:#787465;}
.colorG5(){color:#504c41;}
.bgcolorG5(){background-color:#504c41;}
.colorB(){color:#18150d;}
.colorA(){color:#fff;}
.bgcolorA(){background-color:#fff;}
@color-bg:#282619;


.font-title(){
    font-family:"Microsoft Yahei","simhei",sans-serif;
}


@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  src: local('Tauri Regular'), local('Tauri-Regular'), url(http://themes.googleusercontent.com/static/fonts/tauri/v1/33NkxyDp8MBgQpwno_A-zw.woff) format('woff');
}
@font-sans:"Tauri","Arial","sans-serif";

body{
    background-color:@color-bg;
    .colorG;
    padding:0;
    margin:0;
}
.page-header{
    .layout;
    overflow:hidden;
    .logo{
        float:left;
        position:relative;
        left:30px;
        width:200px;
        height:64px;
        &:before,&:after{
            position:absolute;
            font-size:48px;
            font-family:@font-sans;
            top:10px;
            .colorG;
            content:"{";
        }
        &:after{
            .colorY;
            right:0;
            content:"}";
        }
        h1{
            position:absolute;
            top:5px;
            font-size:20px;
            left:26px;
            font-family:@font-sans;
            a{
                -webkit-transition: all .5s linear;
                -moz-transition: all .5s linear;
                transition: all .5s linear;
                font-style:italic;
            }
            a:link,a:visited{
                .colorA;
                text-decoration:none;
            }
            a:hover{
                text-decoration:underline;
                font-style:normal;
            }
            &:after{
                .colorY;
                content:":";
                margin-left:4px;
            }
        }
        h3{
            position:absolute;
            top:30px;
            left:26px;
            font-size:12px;
            .colorG;
        }
    }
    nav{
        display:none;
        float:right;
        ul{
            list-style:none;
            margin-right:20px;
            li{
                float:left;
                margin-right:10px;
                .bgcolorG5;
                padding:10px 0;
                border-radius:5px;
                a:link,a:visited{
                    .colorY;
                    text-decoration:none;
                    font-weight:bold;
                    font-family:@font-sans;
                    padding:11px 5px 11px 50px;
                }
                &.curr{
                    .bgcolorY;
                    a:link,a:visited{
                        .colorG5;
                    }
                }
            }/*li*/
        }/*ul*/
    }/*nav*/

}
.page-content{
    .layout;
    hgroup{
        margin-top:100px;
        h2{
            margin:0;
            font:24px/150% "Microsoft Yahei","simhei",sans-serif;
            .colorY;
        }
        h3{
            margin:0;
            font:14px/150% "simhei";
            .colorG5;
        }
    }
    .main{
        .layout-left(770px);
        .articles{
            margin-top:20px;
            .bgcolorA;
            border-radius:5px;
            margin-left:65px;
            padding-bottom:1px;
            article{
                header{
                    position:relative;
                    h2{
                        margin:0 0 0 20px;
                        padding-top:20px;
                        padding-bottom:10px;
                        .font-title;
                        font-size:16px;
                        a:link,a:visited{
                            display:block;
                            .colorG5;
                            text-decoration:none;
                        }
                        a:hover{
                            text-decoration:underline;
                        }
                    }
                    time{
                        position:absolute;
                        left:-65px;
                        width:50px;
                        height:50px;
                        .bgcolorG5;
                        text-align:center;
                        border-radius:5px;
                        .month{
                            display:block;
                            .colorA;
                            width:100%;
                            position:absolute;
                            top:30px;
                        }
                        .day{
                            position:absolute;
                            top:0;
                            display:block;
                            .colorB;
                            .bgcolorY;
                            font-weight:bold;
                            width:100%;
                            height:28px;
                            line-height:28px;
                            border-top-left-radius:5px;
                            border-top-right-radius:5px;
                        }
                    }
                    .category{
                        .bgcolorG5;
                        .colorY;
                        display:inline-block;
                        margin-bottom:-10px;
                        display:none;
                        border-top-right-radius:5px;
                        border-bottom-right-radius:5px;
                        padding:5px 20px;
                        a:link,a:visited{
                            .colorA;
                        }
                        position:relative;
                        z-index:2;
                    }
                    .poster{
                        display:none;
                        .bgcolorY;
                        height:110px;
                        margin-bottom:80px;
                        .w{
                            padding:34px 27px 0 27px;
                            .w2{
                                border-radius:10px;
                                box-shadow:0 2px 3px #d2d2d2;
                                height:150px;
                                overflow:hidden;
                                .bgcolorA;
                                img{
                                    position:relative;
                                }
                                
                            }
                        }
                    }
                }
                .content{
                    .colorG5;
                    margin:20px;
                    p{
                        text-indent:2em;
                    }
                }
                footer{
                    width:auto;
                    position:relative;
                    .share{
                        ul{
                            border-top:1px dashed #eee;
                            border-bottom:1px solid #504c41;
                            overflow:hidden;
                            list-style:none;
                            margin:5px;
                            padding:0;
                            li{
                                float:left;
                                margin:5px;
                            }
                        }
                    }
                    .more{
                        position:absolute;
                        right:10px;
                        bottom:10px;
                        a:link,a:visited{
                            .colorG5;
                            font-weight:bold;
                            text-decoration:none;
                        }
                    }
                }
            }
            article:last-child{
                .share ul{
                    border-bottom:0;
                }
            }
            .pagin{
                margin:10px;
                span{
                    cursor:default;
                    &.curr{
                        .bgcolorY;
                        .colorG5;
                        font-weight:bold;
                        padding:5px 10px;
                        border-radius:3px;
                    }
                }
                a:link,a:visited{
                    .colorA;
                    .bgcolorG5;
                    padding:5px 10px;
                    border-radius:3px;
                    text-decoration:none;
                    &:hover{
                        .bgcolorY;
                    }
                }
            }
        }
    }
    aside{
        .layout-right(210px);
    }
}
footer{
    .layout;
    clear:both;
}
/*progress*/
.progress{height:7px;overflow:hidden;}
progress{border:0;margin:0;padding:0;width:100%;vertical-align:top;height:7px;line-height:7px;}
progress::-webkit-progress-bar{background-color: #232220;}
progress::-webkit-progress-value{.bgcolorY;}
