/* CSS Document */

.dact{ width:100%; background:url( i/bg.png)}
.dact-1{ width:100%; height:657px;background:url( i/bg-1.jpg) no-repeat top center; }
.dact-div1{ width:990px; height:657px; position:relative; margin:0 auto;}
.dact-1-1 a{ width:120px; height:45px; display:block; position:absolute; top:0; left:70px;}
.dact-1-2{ width:396px; height:396px; position:absolute; top:236px; left:60px;}
.dact-start{ width:129px; height:129px; display:block; position:absolute; top:134px; left:134px; cursor:pointer; background:none; border:none;}
.dact-hover {background:url( i/but-hover.png); _background:url( i/but-hover.gif)}
.dact-click{background:url( i/but-click.png); background:url( i/but-click.gif)}
.quantity1, .quantity2, .quantity3, .quantity4{ position:absolute; width:130px; height:18px; line-height:18px; left:77px; top:45px; background: #; color:#fff;}
.quantity2{ left:270px; top:177px;}
.quantity3{ left:200px; top:344px;}
.quantity4{ left:16px; top:251px;}
.dact-1-3, .dact-1-4{ width:340px; height:190px; position:absolute; top:120px; left:633px; }
.dact-1-4{ top:450px;}

.dact-1-4 ul{overflow: hidden;width: 340px}
.dact-1-4 .sequ1{height: 65px;}
.dact-1-4 .sequ2{height: 65px;}
.dact-1-4 .sequ3{height: 50px;}
.dact-1-4 .tit{float: left;font-size: 18px;font-family: "microsoft yahei";width: 110px;font-weight: 500;height: 35px;line-height: 35px; color:#007734;}
.dact-1-4 .tic{width: 230px; float:right;}
.dact-1-4	.text{float: left;height: 30px;line-height: 30px;font-size: 18px;border: 1px solid #e6e6e6;width: 205px;margin-bottom: 5px;padding-left: 3px}
.dact-1-4 .tips1{ font-weight:bold; font-size:14px;}
.dact-1-4 .tips1 span{ color:#d10000; padding:0px 2px;}
.dact-1-4 .tips2{ color:#d10000;}
.dact-1-4 .tips3{ font-size:14px; line-height:38px;}
.dact-1-4 .tips3 a{ padding-left:10px; color:#0066CC; font-size:12px;}
.dact-1-4	.btn-buy{width: 70px;height: 34px;display: inline-block;background: url("i/buy1.png");border: none;font-size: 0;overflow: hidden;line-height: 100px;cursor: pointer;}

#dact-num1{background:url( i/bg-num1.jpg) no-repeat; }
#dact-num2{background:url( i/bg-num66.jpg) no-repeat; }
#dact-num3{background:url( i/bg-num2.jpg) no-repeat; }
#dact-num4{background:url( i/bg-num5.jpg) no-repeat; }
#dact-num5{background:url( i/bg-num3.jpg) no-repeat; }
#dact-num6{background:url( i/bg-num6.jpg) no-repeat; }
#dact-num7{background:url( i/bg-num4.jpg) no-repeat; }
#dact-num8{background:url( i/bg-num55.jpg) no-repeat; }

.dact-2{ width:100%; height:325px;background:url( i/bg-2.jpg) no-repeat top center; padding-top:74px; }
.dact-div2{ width:990px; height:325px; margin:0 auto; background:#ffe6a5;}
.dact-2-1{ width:585px; padding-left:20px; float:left; padding-right:30px;}
.dact-2-1 .dact-2con{ height:auto; width:585px; padding:10px 0px; line-height:20px; float:left;}
.dact-2-1 .dact-2con .dmt{ width:82px; float:left; font-weight:bold;}
.dact-2-1 .dact-2con .dmc{ width:503px; float:right; }
.dact-2-2{ width:312px; height:300px; border:1px solid #afafaf; float:left; background:url( i/bg-22.jpg) no-repeat bottom right #fff;}
.dact-2-2 .dmt{ height:35px; width:312px; float:left;}
.dact-2-2 .dmt li, .dact-2-2 .dmt li.on{ width:156px; background:url( i/bg-23.jpg); height:35px; float:left; display:block; font-weight:bold; font-size:14px; color:#fff; text-align:center; line-height:35px; cursor:pointer; position: relative; }
.dact-2-2 .dmt li.on{ background: none; color:#007834;}
.dact-2-2 .dmt .top{ width:48px; height:21px; display:block;  background:url( i/topbut.png) no-repeat; _background:url( i/topbut.gif) no-repeat; position:absolute; top:-8px; left:105px;}
.dact-2-2 .dmc1{ height:255px; width:302px; padding:5px;float:left; line-height:21px;}
.dact-2-2 .dmc1 table th{ text-align:center; color:#d10000; line-height:30px;}
.dact-2-2 .dmc1 table td{ padding:0px 5px; text-align:center; }
.dact-2-2 .dmc1 table td.name{ text-align:right;}

.dact-3{ width:100%; height:249px;background:url( i/bg-3.jpg) no-repeat top center; padding-top:70px; }
.dact-div3{ width:990px; height:172px; margin:0 auto; line-height:25px; }
.dact-3-1{ width:430px; height:162px; padding:10px 0px 0px 35px; float:left;}
.dact-3-1 a{  color:#005ea7;}
.dact-3-2{ width:430px; height:162px; padding:10px 0px 0px 80px; float: left;}

.dact-div4{ width:935px; height:234px; margin:0 auto; background:#fff7e3; padding:0px 20px 0px 35px; line-height:26px; }
.dact-div4 a{ font-weight:bold; color:#005ea7;}
.dact-div4 span{ color:#ff8400;}
.dact-4{ width:100%; height:79px;background:url( i/bg-4.jpg) no-repeat top center; }
.dact-5{ width:100%; height:667px;background:url( i/bg-5.jpg) no-repeat bottom center; }
.dact-div5{ width:948px; height:588px; padding:0px 20px 0px 20px; margin:0 auto; background:#fdfdfd; border-left:1px solid #afafaf;   border-right:1px solid #afafaf;}
.dact-5-con{ width:220px; margin-left:15px; height:284px; float:left; padding-top:10px; }
.dact-5-con .dpic, .dact-5-con .dtext, .dact-5-con .dprice, .dact-5-con .dbutton{ width:220px; height:180px; float:left; text-align:center; overflow:hidden;}
.dact-5-con .dtext{  height:38px;}
.dact-5-con .dprice{  height:25px; color:#dd0000; font-size:14px; font-weight:bold; }
.dact-5-con .dbutton{  height:30px; padding-left:70px; width:150px; text-align:left; }
.dact-5-con .dbutton a{ width:77px; height:25px; display:block; background:url(i/buy.png) no-repeat;}

.dact-6{ width:100%; height:477px;background:url( i/bg-6.jpg) no-repeat top center; }
.dact-div6{ width:970px;  margin:0 auto;  padding:0px 0px 0px 20px; zoom:1; overflow:hidden;}
.dact-div6 li{ float:left; margin:10px 10px 10px 0; width:230px; height:130px; }


.dcon1{ padding:0px 20px;}
.dcon1 li{ float:left; display:block; width:310px; color:#666; padding-top:5px;}
.dcon1 li.fore1{ height:50px; float:left; line-height:25px;}
.dcon1 li.fore1 span{ color:#d10000; font-size:14px; font-weight:bold; display:block;}
.dcon1 .text { border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA; border-style: solid; border-width: 1px;display: block;font-size: 14px; height: 21px; margin-left: 38px; padding-left: 5px;width: 160px;}
.dcon1 li.fore2{ height:50px;}
.dcon1 li.fore2 span{ float:left; padding-right:10px;}
.dcon1 li.fore2 span.error{ color:#d10000; padding-left:127px; line-height:25px;}
.dcon1 li.fore3{ padding-left:125px; width:180px; height:40px; padding-top:10px;}
.dcon1 li.fore3 a.but2, .dcon2 li.fore4 a.but2{ width:55px; height:25px; background: url(i/but2.png) no-repeat; display:block;}
.dcon1 li.fore4{ height:30px;}
.dcon1 li.fore4 span{ float:left; }
.dcon1 li.fore4 span span{ color:#d10000; font-weight:bold; padding:0px 2px;  float:none;}
.dcon1 li.fore4 span.link{ width:42px; height:16px; background:url(i/share.png) no-repeat;}
.dcon1 li.fore4 span.link a{ width:16px; height:16px; display:block; padding-left:5px; float:left;}
.dcon1 li.fore5{ text-align:center; height:60px; line-height:20px;}

.dcon2{ padding:0px 10px;}
.dcon2 li{ float:left; display:block; width:390px; color:#666; padding-top:5px;}
.dcon2 li.fore1{ height:65px; float:left; line-height:20px;}
.dcon2 li.fore1 span{ color:#d10000;  font-weight:bold; display:block;}
.dcon2 li.fore1 a{ color:#005ea7; padding:0px 2px;}
.dcon2 li.fore2{ height:70px; text-align:center;}
.dcon2 li.fore3{ height:30px;}
.dcon2 li.fore4{ padding-left:160px; width:180px; height:40px; padding-top:10px;}









